.patientDetailsContainer{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 10px;
}
h3{
    margin-top: 25px;
    margin-bottom: 17px;
}

.doctorDetailsContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 10px;
}